{% extends 'base.html.twig' %}

{% block title %}
    fiche {{ fiche.id }}
{% endblock %}

{% block body %}
<h1>Fiche {{ fiche.id }}</h1>

<p>
    Page de de la fiche numéro {{ fiche.id }}.
</p>
{% endblock %}